@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --clr-light-white-100: #ffffff;
  --clr-ligth-blue-100: #f3f5fc;
  --clr-medium-blue-200: #67808e;
  --clr-dark-blue-300: #0a3871;
  --clr-medium-gray-400: #495057;
  --clr-dark-gray-500: #343a40;

  --shadow-input: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

  --font-size-extra-small: 0.75rem; /* 12px */
  --font-size-small: 0.875rem; /* 14px */
  --font-size-regular: 1rem; /* 16px */
  --font-size-large: 1.5rem; /* 24px */
  --font-size-extra-large: 2rem; /* 32px */

  --space-extra-small: 0.25rem; /* 4px */
  --space-small: 0.5rem; /* 8px */
  --space-regular: 1rem; /* 16px */
  --space-large: 1.5rem; /* 24px */
  --space-extra-large: 2rem; /* 32px */

  --size-extra-small: 1rem; /* 16px */
  --size-small: 2rem; /* 24px */
  --size-regular: 3rem; /* 48px */
  --size-large: 4rem; /* 64px */
  --size-extra-large: 5rem; /* 80px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-regular);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--space-large);
  background-color: var(--clr-dark-blue-300);
  color: var(--clr-light-white-100);
}

header {
  column-gap: var(--space-regular);
  justify-self: start;
}

.header__logo {
  width: var(--size-small);
}

main {
  width: 100%;
  padding: var(--space-extra-large);
  display: grid;
  justify-content: center;
  grid-template-columns: 2fr 1fr;
  column-gap: var(--space-extra-large);
  place-items: center;
  background-color: var(--clr-ligth-blue-100);
}

.main__input {
  width: 70%;
  height: 90%;
  display: grid;
  grid-template-rows: 3fr 0.1fr 0.9fr;
}

#input,
#output {
  border: none;
  background: transparent;
  outline: none;
  resize: none;
}

#input {
  margin-top: var(--size-regular);
  font-size: var(--font-size-large);
  color: var(--clr-dark-blue-300);
}

#input::placeholder {
  color: var(--clr-dark-blue-300);
}

#input:focus::placeholder {
  color: transparent;
}

.main__input__alert {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-small);
}

#alert__icon {
  height: 50%;
}

#alert__text {
  font-size: var(--font-size-extra-small);
  color: var(--clr-medium-gray-400);
}

.main__input__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--size-small);
}

button {
  padding: var(--space-regular);
  border-radius: var(--space-large);
  font-size: var(--font-size-regular);
  width: 280px;
  text-align: center;
  transition: 5ms;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#button__encrypt {
  background: var(--clr-dark-blue-300);
  color: var(--clr-light-white-100);
  border: none;
}

#button__dencrypt {
  background: var(--clr-light-white-100);
  color: var(--clr-dark-blue-300);
  border: 1px solid var(--clr-dark-blue-300);
}

.main__result {
  width: 80%;
  padding: var(--size-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  background: var(--clr-light-white-100);
  box-shadow: var(--shadow-input);
}

.main__result__image {
  width: 80%;
  margin-block: var(--space-extra-large);
}

.main__result__message {
  font-size: var(--font-size-large);
  text-align: center;
  color: var(--clr-dark-gray-500);
  font-weight: 700;
  margin-bottom: var(--size-extra-small);
}

.main__result__details {
  text-align: center;
  color: var(--clr-medium-gray-400);
}

#output {
  width: 100%;
  font-size: var(--font-size-large);
  color: var(--clr-medium-gray-400);
  margin-bottom: var(--size-large);
}

#button__copy {
  background: transparent;
  color: var(--clr-dark-blue-300);
  border: 1px solid var(--clr-dark-blue-300);
  width: 80%;
  align-self: center;
  justify-self: end;
}

#copy__alert {
  font-size: var(--font-size-extra-small);
  color: var(--clr-medium-gray-400);
}

footer {
  justify-self: end;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-extra-small);
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.footer__logo__image {
  width: var(--size-extra-small);
}

.footer__logo__text {
  font-size: var(--font-size-extra-small);
}

.footer__text {
  font-size: var(--font-size-extra-small);
}

.footer__links {
  display: flex;
  gap: var(--space-regular);
}

#link__github,
#link__linkedin {
  color: var(--clr-light-white-100);
  width: var(--font-size-large);
  transition: 3ms;
}

#link__github:hover,
#link__linkedin:hover {
  transform: scale(1.1);
}

@media (max-width: 1023px) {
  header,
  footer {
    padding: var(--space-regular);
  }

  main {
    padding: var(--space-large);
    grid-template-columns: 1fr;
  }

  .main__input {
    width: 90%;
  }

  .main__result {
    width: 90%;
    padding: var(--space-large);
  }

  .main__result__image {
    display: none;
  }

  #button__copy {
    width: 90%;
  }
}

@media (max-width: 430px) {
  header,
  footer {
    padding: var(--space-small);
  }

  h1 {
    font-size: var(--font-size-regular);
  }

  .header__logo {
    width: var(--size-extra-small);
  }

  main {
    padding: var(--space-regular);
    grid-template-columns: 1fr;
  }

  .main__input {
    width: 90%;
  }

  #input {
    margin-top: var(--size-extra-small);
  }
  
  .main__input__buttons {
    flex-direction: column;
    gap: var(--space-regular);
  }

  .main__result {
    width: 90%;
    padding: var(--space-regular);
  }

  .main__result__image {
    display: none;
  }

  #button__copy {
    width: 90%;
  }

  footer {
    flex-direction: column;
    row-gap: var(--space-small);
  }

  .footer__logo__image {
    width: var(--size-extra-small);
  }
}
